<!DOCTYPE html>
<html lang="en">
<!-- Mirrored from agileui.com/demo/monarch/demo/admin-template/login-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 04 May 2019 13:08:24 GMT -->

@{
    Layout = null;
}
<head>
    <style>
        /* Loading Spinner */
        .spinner {
            margin: 0;
            width: 70px;
            height: 18px;
            margin: -35px 0 0 -9px;
            position: absolute;
            top: 50%;
            left: 50%;
            text-align: center
        }

            .spinner > div {
                width: 18px;
                height: 18px;
                background-color: #333;
                border-radius: 100%;
                display: inline-block;
                -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
                animation: bouncedelay 1.4s infinite ease-in-out;
                -webkit-animation-fill-mode: both;
                animation-fill-mode: both
            }

            .spinner .bounce1 {
                -webkit-animation-delay: -.32s;
                animation-delay: -.32s
            }

            .spinner .bounce2 {
                -webkit-animation-delay: -.16s;
                animation-delay: -.16s
            }

        -webkit-keyframes bouncedelay {
            0%,80%,100%

        {
            -webkit-transform: scale(0.0)
        }

        40% {
            -webkit-transform: scale(1.0)
        }

        }

        keyframes bouncedelay {
            0%,80%,100%

        {
            transform: scale(0.0);
            -webkit-transform: scale(0.0)
        }

        40% {
            transform: scale(1.0);
            -webkit-transform: scale(1.0)
        }
        }
    </style>
    <meta charset="UTF-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title> Login page 2 </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Areas/Management/Content/assets/images/icons/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Areas/Management/Content/assets/images/icons/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Areas/Management/Content/assets/images/icons/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/Areas/Management/Content/assets/images/icons/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="~/Areas/Management/Content/assets/images/icons/favicon.png">

    <link rel="stylesheet" type="text/css" href="~/Areas/Management/Content/assets/bootstrap/css/bootstrap.css">

    <!-- HELPERS -->
    <link rel="stylesheet" type="text/css" href="~/Areas/Management/Content/assets/helpers/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Management/Content/assets/helpers/backgrounds.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Management/Content/assets/helpers/boilerplate.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Management/Content/assets/helpers/border-radius.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Management/Content/assets/helpers/grid.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Management/Content/assets/helpers/page-transitions.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Management/Content/assets/helpers/spacing.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Management/Content/assets/helpers/typography.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Management/Content/assets/helpers/utils.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Management/Content/assets/helpers/colors.css">
    <!-- ELEMENTS -->
    <link rel="stylesheet" type="text/css" href="~/Areas/Management/Content/assets/elements/badges.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Management/Content/assets/elements/buttons.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Management/Content/assets/elements/content-box.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Management/Content/assets/elements/dashboard-box.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Management/Content/assets/elements/forms.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Management/Content/assets/elements/images.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Management/Content/assets/elements/info-box.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Management/Content/assets/elements/invoice.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Management/Content/assets/elements/loading-indicators.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Management/Content/assets/elements/menus.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Management/Content/assets/elements/panel-box.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Management/Content/assets/elements/response-messages.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Management/Content/assets/elements/responsive-tables.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Management/Content/assets/elements/ribbon.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Management/Content/assets/elements/social-box.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Management/Content/assets/elements/tables.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Management/Content/assets/elements/tile-box.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Management/Content/assets/elements/timeline.css">

    <!-- ICONS -->
    <link rel="stylesheet" type="text/css" href="~/Areas/Management/Content/assets/icons/fontawesome/fontawesome.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Management/Content/assets/icons/linecons/linecons.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Management/Content/assets/icons/spinnericon/spinnericon.css">


    <!-- Components theme -->
    <link rel="stylesheet" type="text/css" href="~/Areas/Management/Content/assets/themes/components/default.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Management/Content/assets/themes/components/border-radius.css">
    <!-- Admin responsive -->
    <link rel="stylesheet" type="text/css" href="~/Areas/Management/Content/assets/helpers/responsive-elements.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Management/Content/assets/helpers/admin-responsive.css">
    <!-- JS Core -->
    <script type="text/javascript" src="~/Areas/Management/Content/assets/js-core/jquery-core.js"></script>
    <script type="text/javascript" src="~/Areas/Management/Content/assets/js-core/jquery-ui-core.js"></script>
    <script type="text/javascript" src="~/Areas/Management/Content/assets/js-core/jquery-ui-widget.js"></script>
    <script type="text/javascript" src="~/Areas/Management/Content/assets/js-core/jquery-ui-mouse.js"></script>
    <script type="text/javascript" src="~/Areas/Management/Content/assets/js-core/jquery-ui-position.js"></script>
    <!--<script type="text/javascript" src="~/Areas/Management/Content/assets/js-core/transition.js"></script>-->
    <script type="text/javascript" src="~/Areas/Management/Content/assets/js-core/modernizr.js"></script>
    <script type="text/javascript" src="~/Areas/Management/Content/assets/js-core/jquery-cookie.js"></script>


    <script src="~/Areas/Management/Content/jquery.unobtrusive-ajax.min.js"></script>


    <script type="text/javascript">
        $(window).load(function () {
            setTimeout(function () {
                $('#loading').fadeOut(400, "linear");
            }, 300);
        });</script>

</head>
<body>
    <div id="loading">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <style type="text/css">


        html, body {
            height: 100%;
            background: #fff;
        }
    </style>
    <div class="center-vertical">
        <div class="center-content row">
            @using (Ajax.BeginForm("ForgotPassword", "HomePage", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "message" }, new { @class = "col-md-4 col-sm-5 col-xs-11 col-lg-3 center-margin" }))
            {
                <div id="message"></div>

                <h3 class="text-center pad25B font-gray text-transform-upr font-size-23">Monarch Admin <span class="opacity-80">v1.0</span></h3>
                <div id="login-form" class="content-box bg-default">
                    <div class="content-box-wrapper pad20A">
                        <img class="mrg25B center-margin radius-all-100 display-block" src="~/Areas/Management/Content/assets/image-resources/gravatar.jpg" alt="">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon addon-inside bg-gray">
                                    <i class="glyph-icon icon-envelope-o"></i>
                                </span>
                                <input type="email" class="form-control" name="email" id="exampleInputEmail1" placeholder="Enter email">
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-block btn-primary">Gönder</button>
                        </div>
                        <div class="form-group">
                            <a href="@Url.Action("Login","HomePage")" class="btn btn-block btn-primary">Giriş Ekranına Dön</a>
                        </div>
                    </div>
                </div>
            }

            <div>

            </div>
        </div>
    </div>

    <!-- WIDGETS -->
    <script type="text/javascript" src="~/Areas/Management/Content/assets/bootstrap/js/bootstrap.js"></script>
    <!-- Bootstrap Dropdown -->
    <!-- <script type="text/javascript" src="~/Areas/Management/Content/assets/widgets/dropdown/dropdown.js"></script> -->
    <!-- Bootstrap Tooltip -->
    <!-- <script type="text/javascript" src="~/Areas/Management/Content/assets/widgets/tooltip/tooltip.js"></script> -->
    <!-- Bootstrap Popover -->
    <!-- <script type="text/javascript" src="~/Areas/Management/Content/assets/widgets/popover/popover.js"></script> -->
    <!-- Bootstrap Progress Bar -->
    <script type="text/javascript" src="~/Areas/Management/Content/assets/widgets/progressbar/progressbar.js"></script>
    <!-- Bootstrap Buttons -->
    <!-- <script type="text/javascript" src="~/Areas/Management/Content/assets/widgets/button/button.js"></script> -->
    <!-- Bootstrap Collapse -->
    <!-- <script type="text/javascript" src="~/Areas/Management/Content/assets/widgets/collapse/collapse.js"></script> -->
    <!-- Superclick -->
    <script type="text/javascript" src="~/Areas/Management/Content/assets/widgets/superclick/superclick.js"></script>

    <!-- Input switch alternate -->
    <script type="text/javascript" src="~/Areas/Management/Content/assets/widgets/input-switch/inputswitch-alt.js"></script>
    <!-- Slim scroll -->
    <script type="text/javascript" src="~/Areas/Management/Content/assets/widgets/slimscroll/slimscroll.js"></script>
   
    <!-- Screenfull -->
    <script type="text/javascript" src="~/Areas/Management/Content/assets/widgets/screenfull/screenfull.js"></script>
    <!-- Content box -->
    <script type="text/javascript" src="~/Areas/Management/Content/assets/widgets/content-box/contentbox.js"></script>

</body>
<!-- Mirrored from agileui.com/demo/monarch/demo/admin-template/login-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 04 May 2019 13:08:24 GMT -->
</html>